<form action="salvarPostagem"  method="POST">
    <p><p>Titulo</p><input name='titulo' placeholder="titulo"></p>
    <p><p>Escreva aqui o conteudo</p><textarea name="conteudo" cols="30" rows="10"></textarea></p>
    <button type="submit">Enviar</button>
</form>